html {
    width: 100%;
    height: 100%;
}

#surveybody {
    background-image: url("./images/bluestar.jpg");
    font-family: "times new roman";
    font-weight: 700;
    background-color: black;
    background-size: cover;
}

#homejumbo1 {
    background-image: url("./images/starwarsbackground.jpg");
    align-content: center;
    text-align: center;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#homejumbo2 {
    background-image: url("./images/starwarsbackground.jpg");
    align-content: center;
    text-align: center;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

* {
    background-size: cover;
    background-repeat: no-repeat;
}

#friendmodalButton {
    background-color: black;
    color: blue;
}

.breadcrumb {
    margin: 0 auto;
    overflow: auto;
    float: left;
    background-color: black;
}

.jumbotron {
    color: yellow;
}

#pTest {
    text-align: center;
    /*color: yellow;*/
    font-size: 30px;
    /*font-weight: 700;*/
    color: lightblue;
    text-shadow: 1.5px 1.5px blue;
    font-weight: 700;
    /*font-size: 24px   */
}

#submit {
    width: 100%;
    margin-top: 15px;
    font-size: 26px;
    letter-spacing: 8px;
    background-color: black;
    opacity: .75;
    color: powderblue;
    text-shadow: 2px 2px blue;
}

select {
    background: black;
    color: blue;
}

#name {
    margin-bottom: 20px;
}

h4 {
    color: powderblue;
    text-shadow: 2px 1px blue;
    font-weight: 700;
    font-size: 30px
}

img iframe {
    background-color: black;
    width: 100%;
    height: 400px;
}

#mypmodal {
    font-weight: 700;
    color: red;
    font-size: 36;
}

#mypmodal2 {
    font-size: 24px;
    color: skyblue;
    text-shadow: 1px 1px blue;
    font-weight: 700;
}

#pmodalTitle2 {
    font-size: 35px;
}

#modalButton {
    background-color: black;
    font-size: 20px;
    color: yellow;
    font-weight: 700;
    letter-spacing: 3px;
    width: 100%;
    border: 3px solid red;
}

#survey {
    background: black;
    width: 40%;
    color: yellow;
    font-weight: 700;
    border-color: red;
}

a {
    color: yellow;
}

h1 {
    font-size: 24px;
}

#myfriendspic {
    max-height: 400px;
    max-width: 400px;
    width: 75%;
    height: 75%;
}

#modalHead {
    font-size: 24px;
}

#logo {
    height: 200px;
    width: 200px;
}

#name[type=text] {
    background-color: black;
    margin-color: black;
    text-transform: uppercase;
    font-size: 24px
}

.container {
    text-align: center;
}

#newlogo {

    width: 400px;
}

input[type="text"] {
    background-color: black;
    text-align: left;
    padding: 1.5%;
}

.modal-backdrop {
    background-color: grey;
}

.modal-content {
    background-color: black;
    text-align: center;
}
